<div class="form-group">
  <fieldset class="{{validate.first_name}}">
    <div id="firstName-form" class="form-group">
      <label class="form-label-bold" for="first_name">First name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" value="{{session.first_name}}">
    </div>
  </fieldset>

  <fieldset class="{{validate.last_name}}">
    <div id="lastName-form" class="form-group   ">
      <label class="form-label-bold" for="last_name">Last name</label>
      <input type="text" class="form-control" id="last_name" name="last_name" value="{{session.last_name}}">
    </div>
  </fieldset>
</div>
