{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="">
    <div class="">
      {% if exit_warning.status %}

        <h1 class="heading-xlarge">
          Your report
        </h1>

      <form method="post" action="letusknow-letusknow">
        <div class="form-group">
          <h2 class="heading-medium" style="padding-top: 0; margin-top: 0;">Give as much of the following information as you can:</h2>
          <fieldset id="address-form">

            <ul class="list-bullet">
                <li>who they are - include name, address, age and contact details</li>
                <li>details of any partners they live with</li>
                <li>any work they do - include what they do, where they work and how many hours a week</li>
                <li>what the person is doing to make you think they are committing benefit fraud</li>
            </ul>

            <br>


            <textarea class="form-control form-control-3-4" rows="10" id="letusknow" name="letusknow"></textarea>

          </fieldset>

        </div>

        <a href="complete" type="submit" class="button" value="Submit" />Submit</a>
      </form>

        <!--<a href="/sprint12/feedback" id="exit_warning_feedback">
          What did you think of this service? (takes 30 seconds)
        </a>-->
      {% else %}
        <h1 class="heading-xlarge">You haven’t given enough information</h1>

        <p class="lede">
          Do you also know their:
        </p>

        <form action="exit" method="post">
          <div class="form-group">
            {% for element in render %}
              <fieldset class="inline">
                <legend class="visuallyhidden">{{element.title}}?</legend>

                <h2 class="heading-small" style="margin-bottom: 0;">{{element.title}}?<h2>
                  {% if element.hint %}
                    <span class="form-hint">{{element.hint}}</span>
                  {% endif %}

                  <label class="block-label" for="{{element.id}}_yes"   data-target="abroadadress_hidden2" for="abroadadress_yes" value="No" aria-expanded="yes">
                    <input id="{{element.id}}_yes" type="radio" name="{{element.id}}" value="true"  value="Yes" aria-controls="abroadadress_abroad_hidden2" aria-expanded="true">
                    Yes
                  </label>
                <label class="block-label" for="{{element.id}}_no"  data-target="abroadadress_hidden" value="No" aria-expanded="false">
                  <input id="{{element.id}}_no" type="radio" name="{{element.id}}" value="false">
                  No
                </label>
              </fieldset>
            {% endfor %}

            <div class="js-hidden " id="abroadadress_hidden2" style="display:{{session.abroadadress_abroad_hidden2}};">
              <br><br>
              <input type="submit" class="button" value="Continue" />
            </div>

            <div class="js-hidden " id="abroadadress_hidden" style="display:{{session.abroadadress_abroad_hidden}};">
              <div class="panel panel-border-narrow ">


                <h2 class="heading-medium">We’re unable to investigate without knowing at least the name, address and age of the person.</h2>

                  <!--<input type="submit" class="button" value="Continue" />-->

                  <form action="exit" method="post">

                    <!-- START of library testing for yes / no options -->
                    <div class="form-group">
                      <fieldset  class="">
                        <label class="block-label" for="details-yes"   data-target="yesinfo_continue" for="yesinfo_yes" value="yes" aria-expanded="true">
                          <input id="details-yes" type="radio" name="details-select" value="Yes">
                          I want to exit the service
                        </label>

                        <label class="block-label" for="details-no"  data-target="noinfo_continue" for="noinfo_yes" value="No" aria-expanded="false">
                          <input id="details-no" type="radio" name="details-select" value="No"  >
                          I still wish to continue even though I know you're unable to investigate
                        </label>
                      </fieldset>
                    </div>

                    <div class="js-hidden " id="yesinfo_continue" style="display:{{session.yesinfo_continue}};">
                      <a type="submit" class="button" value="Continue" href="https://www.gov.uk/" />Exit</a>
                    </div>


                    <div class="js-hidden " id="noinfo_continue" style="display:{{session.noinfo_continue}};">
                      <div class="form-group">

                        <a type="submit" class="button" value="Continue" href="details-more" />Continue</a>



                      </div>

                    </div>

                    <!-- END of library testing for yes / no options -->

                  </form>


                  <!--
                  <input type="submit" class="button" value="Continue" />
                  <br><br>or<br><br>
                  <a href="https://www.gov.uk/" class="" value="Exit" />Exit this service</a>
                -->
                </div>
                <br><br>
                <a href="/feedback">What did you think of this service? (takes 30 seconds)</a>
            </div>


          </div>

          <!--<input type="submit" class="button" value="Continue" />-->
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
