{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">

    <section class="font-xsmall column-one-quarter">
      <h2 class="heading-medium" id="helpcontent">Get help</h2>
      <!--<p class="compound">
        <a id="helppage" rel="external" href="/claim-help" target="_blank" onmousedown="trackEvent('/allowance/approve','Claim Notes - Left Column');" onkeydown="trackEvent('/allowance/approve','Claim Notes - Left Column');">Read the guide</a>
      </p>-->
      <h3 class="heading-small">Helpline 07721 235226</h3>
      <p>Mon to Thurs: 8:30am - 5pm</p>
      <p>Friday: 8:30am - 4:30pm</p>
      <p>Closed public holidays.</p>
      <p>Calls answered within 5 minutes.</p>
      <p>Calls cost up to 9p a minute from landlines, calls from mobiles may cost more.</p>

    </section>

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Where do you think this income or savings came from?
      </h1>

      <form action="income-more" method="post">
        <div class="form-group">
          {% include 'sprint12/partials/income/savings.html' %}
          {% include 'sprint12/partials/income/inheritance.html' %}
          {% include 'sprint12/partials/income/sale-of-something.html' %}
          {% include 'sprint12/partials/income/pension.html' %}
          {% include 'sprint12/partials/income/other-income.html' %}
          {% include 'sprint12/partials/income/winnings.html' %}
          {% include 'sprint12/partials/income/compensation.html' %}
          {% include 'sprint12/partials/income/unknown.html' %}
        </div>

        <input type="submit" class="button" value="Continue" />
      </form>
    </div>
  </div>
{% endblock %}
