{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">

    <section class="font-xsmall column-one-quarter">
      <h2 class="heading-medium" id="helpcontent">Get help</h2>
      <!--<p class="compound">
        <a id="helppage" rel="external" href="/claim-help" target="_blank" onmousedown="trackEvent('/allowance/approve','Claim Notes - Left Column');" onkeydown="trackEvent('/allowance/approve','Claim Notes - Left Column');">Read the guide</a>
      </p>-->
      <h3 class="heading-small">Helpline 07721 235226</h3>
      <p>Mon to Thurs: 8:30am - 5pm</p>
      <p>Friday: 8:30am - 4:30pm</p>
      <p>Closed public holidays.</p>
      <p>Calls answered within 5 minutes.</p>
      <p>Calls cost up to 9p a minute from landlines, calls from mobiles may cost more.</p>

    </section>

    <div class="column-two-thirds">
      {% if session.single_fraud %}
        <h1 class="heading-xlarge">What do you want to report?</h1>
      {% else %}
        <h1 class="heading-xlarge">What else do you want to report?</h1>
      {% endif %}

      <form method="post" action="other">
        <div class="form-group {{validate.other}}">
          <label class="form-label-bold" for="other">
            Give as much information as you can about what the person is doing
          </label>

          <p class="form-hint">Maximum length 1500 characters.</p>

          <textarea class="form-control form-control-3-4" rows="5" id="other" name="other">{{session.other}}</textarea>
        </div>

        <input type="submit" class="button" value="Continue">
      </form>
    </div>
  </div>
{% endblock %}
