{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
<div class="grid-row">
  <section class="font-xsmall column-one-quarter">
    <h2 class="heading-medium" id="helpcontent">Get help</h2>
    <!--<p class="compound">
      <a id="helppage" rel="external" href="/claim-help" target="_blank" onmousedown="trackEvent('/allowance/approve','Claim Notes - Left Column');" onkeydown="trackEvent('/allowance/approve','Claim Notes - Left Column');">Read the guide</a>
    </p>-->
    <h3 class="heading-small">Helpline 07721 235226</h3>
    <p>Mon to Thurs: 8:30am - 5pm</p>
    <p>Friday: 8:30am - 4:30pm</p>
    <p>Closed public holidays.</p>
    <p>Calls answered within 5 minutes.</p>
    <p>Calls cost up to 9p a minute from landlines, calls from mobiles may cost more.</p>

  </section>

  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Review and send your report</h1>

    <p>Before you send your report, review what you have entered:</p>

    <div class="panel panel-border-narrow">

        <p>{{letusknow.letusknow}}</p>
      


      <ul class="list-bullet">
        {% for title in review.titles %}
          <li>{{title.title}}</li>
        {% endfor %}
      </ul>
    </div>

    {% if additional %}
      <h2 class="heading-small">Additional Information</h2>
      <p>{{additional.additional}}</p>
    {% endif %}

    <form action="review" method="post">
      <input type="submit" class="button" value="Send report" />
    </form>
  </div>
</div>
{% endblock %}
