{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
<div class="">

  <div class="">

    <h1 class="heading-xlarge">
      Your report
    </h1>

  <form method="post" action="letusknow-letusknow">
    <div class="form-group">
      <h2 class="heading-medium" style="padding-top: 0; margin-top: 0;">Give as much of the following information as you can:</h2>
      <fieldset id="address-form">

        <ul class="list-bullet">
            <li>who they are - include name, address, age and contact details</li>
            <li>details of any partners they live with</li>
            <li>any work they do - include what they do, where they work and how many hours a week</li>
            <li>what the person is doing to make you think they are committing benefit fraud</li>
        </ul>

        <br>


        <textarea class="form-control form-control-3-4" rows="10" id="letusknow" name="letusknow"></textarea>
        <p class="form-hint">Maximum length 1500 characters.</p>
      </fieldset>

    </div>

    <a href="complete" type="submit" class="button" value="Submit" />Submit</a>
  </form>

    <!--<h1 class="heading-xlarge">Review and send your report</h1>

    <p>Before you send your report, review what you have entered:</p>

    <div class="panel panel-border-narrow">

        <p>{{letusknow.letusknow}}</p>



      <ul class="list-bullet">
        {% for title in review.titles %}
          <li>{{title.title}}</li>
        {% endfor %}
      </ul>
    </div>

    {% if additional %}
      <h2 class="heading-small">Additional Information</h2>
      <p>{{additional.additional}}</p>
    {% endif %}

    <form action="review" method="post">
      <input type="submit" class="button" value="Send report" />
    </form>-->
  </div>
</div>
{% endblock %}
