{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if exit_warning.status %}

        <h1 id="exit_warning_h1" class="heading-medium">
          Based on what you've provided, we're unlikely to be able to investigate.
        </h1>

          <p>If you still want to make a report:</p>
          <a href="details-more2" class="button" value="continue">Continue</a>
          <br><br>or<br><br>
          <a href="https://www.gov.uk/" class="" value="Exit" />Exit this service</a>
          <br><br><br><br>

        <p><a href="/sprint12/feedback" id="exit_warning_feedback">
          What did you think of this service? (takes 30 seconds)
        </a></p>
      {% else %}

        <h1 class="heading-xlarge">You haven’t given enough information</h1>

        <p class="lede">
          Do you also know their:
        </p>

        <form action="exit" method="post">
          <div class="form-group">
            {% for element in render %}
              <fieldset class="inline">
                <legend class="visuallyhidden">{{element.title}}?</legend>

                <h2 class="heading-small" style="margin-bottom: 0;">{{element.title}}?<h2>
                  {% if element.hint %}
                    <span class="form-hint">{{element.hint}}</span>
                  {% endif %}

                <label class="block-label" for="{{element.id}}_yes" data-target="abroadadress_hiddenyes" for="abroadadress_yes" value="yes" aria-expanded="true">
                  <input id="{{element.id}}_yes" type="radio" name="{{element.id}}" value="true" value="Yes" aria-controls="abroadadress_abroad_hiddenyes" aria-expanded="true">
                  Yes
                </label>
                <label class="block-label" for="{{element.id}}_no" data-target="abroadadress_hidden" for="abroadadress_yes" value="No" aria-expanded="false">
                  <input id="{{element.id}}_no" type="radio" name="{{element.id}}"  value="false"  value="Yes" aria-controls="abroadadress_abroad_hidden" aria-expanded="true">
                  No
                </label>
              </fieldset>
            {% endfor %}
          </div>

          <div class="js-hidden " id="abroadadress_hiddenyes" style="display:{{session.abroadadress_abroad_hiddenyes}};">
              <input type="submit" class="button" value="Continue" />
          </div>

          <div class="panel panel-border-narrow js-hidden" id="abroadadress_hidden" style="display:{{session.abroadadress_abroad_hidden}};">

              <h2 class="heading-medium">Sorry, DWP can’t take your report.</h2>

              <p>We’re unable to investigate without knowing at least the name, address and age of the person.</p>

              <a href="https://www.gov.uk/" class="button" value="Exit" />Exit this service</a>

          </div>

          <br><br>
          <br><br>

        <p><a href="/sprint12/feedback" id="exit_warning_feedback">
          What did you think of this service? (takes 30 seconds)
        </a></p>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
