{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">

    <section id="helpcontent" class="font-xsmall column-one-quarter">
      <h2 class="heading-medium">Get help</h2>
      <!--<p class="compound">
        <a id="helppage" rel="external" href="/claim-help" target="_blank" onmousedown="trackEvent('/allowance/approve','Claim Notes - Left Column');" onkeydown="trackEvent('/allowance/approve','Claim Notes - Left Column');">Read the guide</a>
      </p>-->
      <h3 class="heading-small">Helpline 0123 456 789</h3>
      <p>Mon to Thurs: 8:30am - 5pm</p>
      <p>Friday: 8:30am - 4:30pm</p>
      <p>Closed public holidays.</p>
      <p>Calls answered within 5 minutes.</p>
      <p>Calls cost up to 9p a minute from landlines, calls from mobiles may cost more.</p>
    </section>

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">What is the person doing?</h1>

      <form method="post" action="fraud-type">
        <fieldset>
          <legend class="visuallyhidden" for="form-group-details">
            Select all that apply
          </legend>

          <p class="bold-medium">Select one or more</p>

          <div class="form-group">
            {% for check in options %}
              <label class="block-label" for="{{check.id}}">
                <input id="{{check.id}}" type="checkbox" name="{{check.id}}" value="{{check.value}}" {{check.checked}} />
                <span class="heading-small">{{check.title}}</span><br>
                {{check.desc}}
              </label>
            {% endfor %}
          </div>
        </fieldset>

        <input type="submit" value="Continue" class="button" />
      </form>
    </div>
  </div>
{% endblock %}
