{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}

<div class="grid-row">
 <div class="column-two-thirds">
       <h1 class="heading-xlarge">Housing benefit fraud</h1>

 <form method="post" action="abroad">

   <div class="form-group">
     <label class="block-label" data-target="" for="addressabroad_yes">
       <input id="addressabroad_yes" type="radio" name="addressabroad_select" value="Yes" aria-controls="" aria-expanded="true">
       Has there been a change in the person/s living at the address?
     </label>

     <label class="block-label" for="addressabroad_no">
       <input id="addressabroad_no" type="radio" name="addressabroad_select" value="No" aria-expanded="false">
       Has there been a financial change to anyone living at the address?
     </label>

     <label class="block-label" for="addressabroad_dontknow">
       <input id="addressabroad_dontknow" type="radio" name="addressabroad_select">
       Landlord / tenant fraud
     </label>

   </div>

      <input id="submit" type="submit" class="button" value="Continue">
    </form>
  </div>

</div>
{% endblock %}
