{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}

<div class="grid-row">
 <div class="column-two-thirds">
       <h1 class="heading-xlarge">Finance change</h1>

 <form method="post" action="abroad">

  <h2 class="heading-small">What change has happened:</h2>

   <div class="form-group">
     <label class="block-label" data-target="" for="addressabroad_yes">
       <input id="addressabroad_yes" type="radio" name="addressabroad_select" value="Yes" aria-controls="" aria-expanded="true">
       <span class="heading-small">Working in receipt</span><br>
       Inc. Housing benefits, rent
     </label>

     <label class="block-label" for="addressabroad_no">
       <input id="addressabroad_no" type="radio" name="addressabroad_select" value="No" aria-expanded="false">
       <span class="heading-small">Savings or assets</span><br>
       I.e. Are they the owner
     </label>

   </div>

      <input id="submit" type="submit" class="button" value="Continue">
    </form>
  </div>

</div>
{% endblock %}
