{% extends "layout.html" %}

{% block phase%}
  {% include 'sprint12/partials/phase-banner.html'%}
{% endblock %}

{% block main %}
  <div class="grid-row">

    <section class="font-xsmall column-one-quarter">
      <h2 class="heading-medium" id="helpcontent">Get help</h2>
      <!--<p class="compound">
        <a id="helppage" rel="external" href="/claim-help" target="_blank" onmousedown="trackEvent('/allowance/approve','Claim Notes - Left Column');" onkeydown="trackEvent('/allowance/approve','Claim Notes - Left Column');">Read the guide</a>
      </p>-->
      <h3 class="heading-small">Helpline 0123 456 789</h3>
      <p>Mon to Thurs: 8:30am - 5pm</p>
      <p>Friday: 8:30am - 4:30pm</p>
      <p>Closed public holidays.</p>
      <p>Calls answered within 5 minutes.</p>
      <p>Calls cost up to 9p a minute from landlines, calls from mobiles may cost more.</p>

    </section>

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">About their partner</h1>

      <form action="partner-details" method="post">
        {% include 'sprint12/partials/partner-details/name.html' %}
        {% include 'sprint12/partials/partner-details/age.html' %}
        {% include 'sprint12/partials/partner-details/address.html' %}
        {% include 'sprint12/partials/partner-details/nino.html' %}
        {% include 'sprint12/partials/partner-details/phone.html' %}
        {% include 'sprint12/partials/partner-details/email.html' %}
        {% include 'sprint12/partials/partner-details/how-long.html' %}

        <input type="submit" value="Continue" class="button" />
      </form>
    </div>
  </div>
{% endblock %}
